

:root {

--color-logo-blue: #2F70D3;
--color-logo-yellow: #facc15;

--color-bg-light: #fff7eb;
--color-bg-white: #ffffff;
--color-bg-dark: #1B1917;
--color-bg-card-yellow: #E6D6B5;

--color-text: #1f2933;
--color-text-light: #f3f4f6;
--color-text-muted: #4b5563;

--color-accent: #f97316;
--color-border: #e5e7eb;
--color-shadow: rgba(15, 23, 42, 0,15)

--font-heading: "Nunito", sans-serif;
--font-body: "Montserrat", sans-serif;

--fs-xxl: 2rem;
--fs-xl: 1.5rem;
--fs-lg: 1.25rem;
--fs-md: 1rem;
--fs-sm: 0.875;

--lh-tight: 1.1;
--lh-normal: 1.45;
--lh-relaxed: 1.6;

--space-xs: 0.25rem;
--space-sm: 0.5rem;
--space-md: 1rem;
--space-lg: 1.5rem;
--space-xl: 2rem;

--radius-sm: 0.5rem;
--radius-md: 1rem;
--radius-lg: 1.5rem;

--shadow-soft: 0 14px 30px var(--color-shadow);
--shadow-card: 0 12px 24px rgba(0, 0, 0, 0.88);
}